@mixin reactive-square($w, $h) {
  width: 100%;
  padding-bottom: $h / $w * 100%; 
}

body {
  margin: 0;
}
.fixed_cover {
  position: fixed;
  display: none;
  opacity: 0.5;
  background: black;
  width: 100%;
  height: 100%;
  z-index: 10;
}
#main_cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(./main.png) center / cover;
}
.contents_cover {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.tem_cover {
  position: absolute;
  width: 100%;
  top: 10%;
  height: 100%; 
  z-index: -1;
  background: black;
}
#input_file {
  display: none;
}
#contents_container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  margin: 0px;
  background: black;
  overflow: hidden;
}
.main_background {
  background-image: url(./photo.png);
  background-size: cover;
  overflow: hidden;
  @include reactive-square(600, 120);
}
.main_container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100% - (300 / 1440 * 100%);
  // height: 100% - (300 / 1440 * 100%);
  vertical-align: middle;
}
.button_container {
  text-align: center;
  margin-top: 10%;
}
.contents_background {
  position: absolute;
  width: 100%;
  height: 100%;
}
.button_center {
  width: 280 / 1140 * 100%;
}
.canvas_rotate_background {
  width: 200 / 1140 * 100%;
  height: 200 / 1140 * 100%;
  position: absolute;
  right: 0;
  transform: translate(1px, -1px);
  background: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 50%;
}
.canvas_container {
  position: relative;
  text-align: center;
}
#main_canvas {
  width: 100%;
}
